<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="css/style.css" rel="stylesheet" type="text/css" />
        <script src="/js/bootstrap.bundle.min.js"></script>
        <script type="module" src="http://localhost:5173/@vite/client"></script>
        <script type="module" src="http://localhost:5173/assets/app.js"></script>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
